# iNeuron Python Sesion 5

In [1]:
## Tuple

In [3]:
ls = [1,2,3,4,5,6]
print(type(ls))
tp=(1,2,3,4,5,6,7)
print(type(tp))

<class 'list'>
<class 'tuple'>

In [7]:
# most of the function of list and tuple are same

type(tp[::-1])

tuple

In [9]:
len(tp)

7

In [11]:
# Tuple are immutable where as lists are mutable

tp[0]="kumar"

TypeError: 'tuple' object does not support item assignment

In [12]:
s = "abhinav"

In [13]:
s[3]

'i'

In [14]:
# str is immutable in Python

s[3]="p"

TypeError: 'str' object does not support item assignment

In [22]:
for i in tp:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>

In [17]:
for i in tp:
    print(tp)

(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)

In [27]:
# return the count of given element present in tuple
tp.count(1)

1

In [28]:
# return the first occuring index of the given element

tp.index(4)

3

In [29]:
tp2=(3,6,3,3,6,67,7,3)

In [32]:
# concatenation operation is allowed

tp3=tp+tp2

tp3

(1, 2, 3, 4, 5, 6, 7, 3, 6, 3, 3, 6, 67, 7, 3)

In [33]:
# way to insert the data

ls1=list(tp)

In [34]:
ls1.insert(2,"abhinav")

In [36]:
tp=tuple(ls1)

tp

(1, 2, 'abhinav', 3, 4, 5, 6, 7)

## Set in Python

In [41]:
# set do not support duplicates
# set do not support null

se=set([1,1,1,2,4,5,6,7,8,9,67,5,4,2,32,4,5,6,8,9,0,7,6,5,4,434,3,5,7,8,9,"abhinab",True,3+4j])

se

{(3+4j), 0, 1, 2, 3, 32, 4, 434, 5, 6, 67, 7, 8, 9, 'abhinab'}

In [42]:
for i in se:
    print(i)

32
1
2
67
4
5
6
7
8
9
0
3
(3+4j)
434
abhinab

In [43]:
# set do not support slicing

se[::-1]

TypeError: 'set' object is not subscriptable

In [45]:
se=set(list(se)[::-1])

se

{(3+4j), 0, 1, 2, 3, 32, 4, 434, 5, 6, 67, 7, 8, 9, 'abhinab'}

In [47]:
se.add("kumar")

se

{(3+4j), 0, 1, 2, 3, 32, 4, 434, 5, 6, 67, 7, 8, 9, 'abhinab', 'kumar'}

In [49]:
# pop in set remove element from very first to Last

se.pop()

1

In [50]:
type(se)

set

In [51]:
# set does not support list as it is unhashable under set

se1={(3+4j), 0, 1, 2, 3, 32, 4, 434, 5, 6, 67, 7, 8, 9,[12,4,5,5,], 'abhinab', 'kumar'}

TypeError: unhashable type: 'list'

In [53]:
# set do not gives a sorted data set there can be see a kind of order in below but that is un useful

se2= {(3+4j), 0, 1, 2, 3, 32, 4, 434, 5, 6, 67, 7, 8, 9, 'abhinab', 'kumar',"aajdnaj","#$%"}

se2

{'#$%',
 (3+4j),
 0,
 1,
 2,
 3,
 32,
 4,
 434,
 5,
 6,
 67,
 7,
 8,
 9,
 'aajdnaj',
 'abhinab',
 'kumar'}

## Dictionary in Python

In [54]:
d = {}

type(d)

dict

In [57]:
d= {"name":"abhinav", "surname": "sharma"}

d

{'name': 'abhinav', 'surname': 'sharma'}

In [60]:
# duplicate keys are not allowed and if provided it will override the value against the key but duplicate values are
# allowed for unique keys

d2={"name":"abhinav", "surname": "sharma","name":"abhay", "penName":"abhinav"}

d2

{'name': 'abhay', 'surname': 'sharma', 'penName': 'abhinav'}

In [62]:
d3 = {'name': 'abhay', 'surname': 'sharma', 'penName': 'abhinav',3:"can be a key", 3+4j:"can be a key",23.5:"can be a key"}

d3

{'name': 'abhay',
 'surname': 'sharma',
 'penName': 'abhinav',
 3: 'can be a key',
 (3+4j): 'can be a key',
 23.5: 'can be a key'}

In [63]:
# List as a key not allowed 

d4 = {'name': 'abhay', 'surname': 'sharma', 'penName': 'abhinav',3:"can be a key", 3+4j:"can be a key",23.5:"can be a key",[2,3,4]:"can be a key"}

TypeError: unhashable type: 'list'

In [66]:
# tuple are allowed as key

d4 = {'name': 'abhay', 'surname': 'sharma', 'penName': 'abhinav',3:"can be a key", 3+4j:"can be a key",23.5:"can be a key",(2,3,4):"can be a key"}

d4

{'name': 'abhay',
 'surname': 'sharma',
 'penName': 'abhinav',
 3: 'can be a key',
 (3+4j): 'can be a key',
 23.5: 'can be a key',
 (2, 3, 4): 'can be a key'}

In [72]:


d5 = {'name': 23, 'surname': 23.4, 'penName': True, 3:[1,2] , 3+4j:("can be a key",3,4) ,23.5:"can be a key",35:"can be a key"}

d5

{'name': 23,
 'surname': 23.4,
 'penName': True,
 3: [1, 2],
 (3+4j): ('can be a key', 3, 4),
 23.5: 'can be a key',
 35: 'can be a key'}

In [73]:
# iterating over a dictionary

for i in d5:
    print(i)

name
surname
penName
3
(3+4j)
23.5
35

In [75]:
for i in d5.values():
    print(i)

23
23.4
True
[1, 2]
('can be a key', 3, 4)
can be a key
can be a key

In [77]:
# keys method

d5.keys()
print(type(d5.keys()))

<class 'dict_keys'>

In [79]:
d5.values()

dict_values([23, 23.4, True, [1, 2], ('can be a key', 3, 4), 'can be a key', 'can be a key'])

In [80]:
type(d5.values())

dict_values

In [82]:
m=[]

for i in d5.values():
    if type(i)==tuple:
        for j in i:
            m.append(j)
            
m

['can be a key', 3, 4]

In [84]:
# adding data explicitly

d5["key"]="panama papers"

d5

{'name': 23,
 'surname': 23.4,
 'penName': True,
 3: [1, 2],
 (3+4j): ('can be a key', 3, 4),
 23.5: 'can be a key',
 35: 'can be a key',
 'key': 'panama papers'}

In [92]:
d6={}

for i in range(10):
    d6[i]=i**2
    
d6

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [93]:
# dict comprehension

d7 ={i:i**2 for i in range(10)}

d7

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [94]:
lp=["Abhinav","XYZ","ajfdnanf","ASMK"]

d8 = {i:i.isupper() for i in lp}

d8

{'Abhinav': False, 'XYZ': True, 'ajfdnanf': False, 'ASMK': True}

In [96]:
d8.items()

dict_items([('Abhinav', False), ('XYZ', True), ('ajfdnanf', False), ('ASMK', True)])

## Funtions in Python

In [97]:
def test():

SyntaxError: unexpected EOF while parsing (<ipython-input-97-9873bc519466>, line 1)

In [99]:
# use pass to declare a abstract fucntion

def test():
    pass

In [102]:
test()

In [103]:
type(test())

NoneType

In [104]:
def test1():
    return 1

In [105]:
type(test1())

int

In [106]:
def test2():
    print("test3")

In [107]:
test2()

test3

In [108]:
# until unless there is return type the type of function is nonetype

type(test2())

test3

NoneType

In [109]:
test1()

1

In [110]:
def test3():
    a=3
    b=4
    print("this is function",a+b)

In [112]:
test3()

this is function 7

In [113]:
type(test3())

this is function 7

NoneType

In [114]:
def test4():
    a=3
    b=4
    print(a+b)

In [115]:
c=test4()

7

In [116]:
# alwyas make sure that you typecast your function output accordingly

type(c)

NoneType

In [118]:
def test5():
    a=3
    b=3
    return a+b

In [120]:
d=test5()

d

6

In [121]:
type(d)

int

In [122]:
def test6(a,b):
    return a+b,a*b

In [123]:
test6(3,4)

(7, 12)

In [125]:
type(test6(3,4))

tuple

In [126]:
t=test6(3,4)

In [127]:
t[0]

7

In [128]:
t[1]

12

In [130]:
x,y=test6(4,5)

In [131]:
x

9

In [132]:
y

20

In [133]:
# sequential assignation is allowed

w,e,t=2,3,5

In [134]:
w

2

In [135]:
e

3

In [136]:
t

5

In [138]:
# use placeholder if dont want to capture the result

z,_=test6(2,3)

z

5

In [141]:
# default value

def test7(a,b=" default"):
    return a+b

In [142]:
test7("abhinav")

'abhinav default'