# iNeuron Python class - Session 4

# # String Inbult Functions

In [7]:
x= "abhi"

In [2]:
x1=x+1

TypeError: can only concatenate str (not "int") to str

In [8]:
x1= x+ str(1)

In [9]:
print(x1)

abhi1

In [10]:
x2 = x*3

In [11]:
print(x2)

abhiabhiabhi

In [15]:
x.upper()

'ABHI'

In [32]:
s = "my name is Abhinav Kumar Sharma"

In [27]:
# split always returns a List
# it is case sensitive
#

s.split("i", maxsplit=-2)

['my name ', 's Abh', 'nav Kumar Sharam']

In [26]:
# partition returns a tuple(immutable)
# it returns a 3 member tuple

s.partition("a")

('my n', 'a', 'me is Abhinav Kumar Sharam')

In [28]:
s.find("i")

8

In [33]:
# Only take single character argument

s.center(50,"#")

'#########my name is Abhinav Kumar Sharma##########'

In [34]:
# returns string 

"Abhinav\tkumar\tsharma".expandtabs()

'Abhinav kumar   sharma'

In [35]:
type("Abhinav\tkumar\tsharma".expandtabs())

str

In [40]:
# format fills placeholder {} can take input as well

"Hello Mr {} good to know you are from {}  ".format(input("what is your name "),input("where you from "))

what is your name Abhinav Kumar Sharma
where you from Delhi

'Hello Mr Abhinav Kumar Sharma good to know you are from Delhi  '

In [41]:
ls =[1,2,3,4,5]

l = ls + ["abhinav"]

In [42]:
l

[1, 2, 3, 4, 5, 'abhinav']

In [43]:
# List() always takes an iterable object

l2= ls + list("abhinav")

In [44]:
l2

[1, 2, 3, 4, 5, 'a', 'b', 'h', 'i', 'n', 'a', 'v']

In [45]:
l.append("ang")

In [46]:
l

[1, 2, 3, 4, 5, 'abhinav', 'ang']

In [47]:
# it will shift the data and insert do not remove the data

l.insert(3,"pujo")

In [51]:
l

[1, 2, 3, 'pujo', 4, 5]

In [50]:
# pop() will return and remove the data from given/last(default) index and udpate the list 

l.pop()

'abhinav'

In [52]:
l.pop(3)

'pujo'

In [53]:
l.append([1,3,4,5])

In [54]:
l

[1, 2, 3, 4, 5, [1, 3, 4, 5]]

In [55]:
# reverse will reverse the order of string Permanently while l[::-1] is just is representation of list not permanent

l.reverse()

In [56]:
l

[[1, 3, 4, 5], 5, 4, 3, 2, 1]

In [57]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'list'

In [58]:
# sort return a Nonetype

n = [4,32,5,3,5].sort()

In [61]:
type(n)

NoneType

In [62]:
l.extend("abhinav")

In [63]:
l

[[1, 3, 4, 5], 5, 4, 3, 2, 1, 'a', 'b', 'h', 'i', 'n', 'a', 'v']

In [64]:
l.extend

In [65]:
# you need to learn list comprehension operation this is pretty cool and sleek